body {
font-family: 'Libre Baskerville', serif;
background-color: black;
color:white;
text-align: center;
}
#pic {
border: 3px solid white;
width: fit-content;
height: fit-content;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
#overall {
    margin-top: 50px;
    margin-left: 25%;
    width: 50%;
  }
h1 {
    text-transform: uppercase;
  }